@page
@model databaseOtters.Pages.DetailModel
@{
    ViewData["Title"] = "Detail";
}
<div class="text-center">
    <h1 class="display-4">Detail vydry @Model.Otter.TattooID (@Model.Otter.Name)</h1>
    <table class="table">
        <tbody>
            <tr>
                <td>Tetovací ID</td>
                <td>@Model.Otter.TattooID</td>
            </tr>
            <tr>
                <td>Jméno</td>
                <td>@Model.Otter.Name</td>
            </tr>
            <tr>
                <td>Barva</td>
                <td>@Model.Otter.Color</td>
            </tr>
            <tr>
                <td>Místo</td>
                <td>@Model.Otter.PlaceName</td>
            </tr>
            <tr>
                <td>Matka</td>
                <td>@Model.Otter.MotherId</td>
            </tr>
            <tr>
                <td>Lokace</td>
                <td>@Model.Otter.LocationId</td>
            </tr>
            <tr>
                <td>Objevil</td>
                <td>@Model.Otter.FounderId</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group" role="group" aria-label="BackEdit">
        <a href="/" class="btn btn-secondary">Zpět</a>
        <a href="#" class="btn btn-secondary">Upravit</a>
    </div>
</div>
